:root {
  --ion-color-primary: #b6667d;
  --ion-color-primary-rgb: 182, 102, 125;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #a05a6e;
  --ion-color-primary-tint: #be778b;

  --ion-color-secondary: #2f5fd3;
  --ion-color-secondary-rgb: 47, 95, 211;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-shade: #2954ba;
  --ion-color-secondary-tint: #4470d8;

  --ion-color-success: #78a02c;
  --ion-color-warning: #f4a524;
  --ion-color-danger: #d44949;
  --ion-color-light: #fafafa;
  --ion-color-medium: #7e8595;
  --ion-color-dark: #222222;

  --ion-background-color: #ffffff;
  --ion-toolbar-background: #ffffff;
  --ion-card-background: #ffffff;
  --ion-tab-bar-background: #ffffff;
  --ion-border-color: #e3e6ef;
  --ion-text-color: #2d2d2d;
}
